.form_mail {
    padding-top: 20px;
    & input {
        height: 40px;
        border: 1px solid #106dee;
        border-radius: 10px;
        background-color: #f8f8f8;
        font-family: "Ubuntu";
        font-weight: bold;
        padding-left: 10px;
    }
}